@font-face {
    font-family: type;
    src: url(./assets/fonts/Bygonest\ Typewriter.ttf);
}

@font-face {
    font-family: typeone;
    src: url(./assets/fonts/TravelingTypewriter.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* U{titlity */
html {
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

body {
    font-family: typeone;
    color: var(--clr-wht);
    background: var(--clr-blk);
    letter-spacing: 5px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-wht);
}


button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 12);
}

::-webkit-scrollbar-track {
    background: yellow;
}

/* End utitlity */
/* Nav */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.9rem 0;
    position: fixed;
    background: var(--clr-dblk);
    z-index: 3;
    background-image: url(./assets/images/blog_nav_cover.png);
    background-size: 100% 100%;
    border-top: solid 3px yellow;
    overflow: hidden;
    transition: 0.3s top;
}

.logo-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

ul li {
    margin-right: 1rem;
}

.logo {
    width: 50px;
    padding: 0.2rem;
}

.li-container {
    display: flex;
}

.link {
    font-size: var(--fs-1-5);
    font-weight: var(--fw-900);
    color: var(--clr-blk);
}

.blog-menu-container {
    display: none;
}

.fa-solid {
    font-size: var(--fs-1-5);
    color: var(--clr-blk);
    cursor: pointer;
}

.blog-menu-logo {
    height: 50px;

}

/* End Nav */
/* Main */
.main-container {
    display: flex;

}

/* Nav category */
.category-container {
    position: fixed;
    height: 100%;
    width: 200px;
    background: var(--clr-blk);
    box-shadow: var(--bx-shdw);
    z-index: 1;
    border-left: 3px solid yellow;
}

.category-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    padding: 1rem 0;
    font-size: var(--fs-1-2);
    background: var(--clr-dblk);
    overflow: hidden;
}

.category-title {
    color: var(--clr-wht);
}

.category-technology {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.category-technology div {
    width: 100%;
}

.category-btn {
    border: none;
    background: var(--clr-blk);
    width: 100%;
    color: var(--clr-wht);
    padding: 1rem 0;
}

.category-btn:hover {
    background: var(--clr-dblk);
}

/* End nav category */
.blog-title-container {
    position: relative;
    width: 0;
    left: 220px;
}

.blog-title {
    font-family: type;
    font-size: var(--fs-big);
}

.ribbon-container {
    position: relative;
    left: 200px;
    overflow: hidden;
}

.ribbon {
    height: 120px;
    width: 80%;
}

/* Projects */
.single-project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.single-project-item {
    box-shadow: var(--bx-shdw);
    position: relative;
    left: 100px;
    width: 80%;
    padding: 2rem;
    margin-bottom: 2rem;
}

.single-project-image {
    height: 200px;
    width: 100%;
    object-fit: fill;
}

/* End Projects */

/* Footer */
.footer-container {
    display: flex;
    justify-content: center;
    background-image: url(./assets/images/blog_nav_cover.png);
    background-size: 100% 100px;
}

.footer-container h1 {
    color: var(--clr-dblk);
    font-size: var(--fs-1-5);
    font-weight: var(--fw-900);
}

/* End Footer */
@media only screen and (max-width: 1200px) {
    .blog-menu-container {
        display: block;
    }

    .category-container {
        display: none;
        border-left: none;
    }

    .category-container-active {
        display: block;
    }

    .blog-title-container {
        left: 0;
    }

    .blog-title {
        margin-top: 2rem;
        padding-left: 1rem;
        font-size: var(--fs-medium);
    }

    .ribbon-container {
        left: 0;
    }

    /* Projects */
    .single-project-item {
        position: relative;
        left: 0;
    }

    .single-project-dialog {
        font-size: var(--fs-0-9);
    }


}

@media only screen and (max-width: 768px) {
    .blog-title {
        padding-top: 3rem;
        font-size: 7rem;
    }

    .single-project-container {
        margin-top: 4rem;

    }

    .single-project-item {
        width: 100%;

    }
}